In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
income = pd.read_csv('data/1인당_개인소득_시도__20251125194516.csv').T
income

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
시도별,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원특별자치도,충청북도,충청남도,전북특별자치도,전라남도,경상북도,경상남도,제주특별자치도
2000,8862,10127,8324,8513,7716,8095,8514,10484,-,9380,7720,7943,8135,7942,7729,8286,8381,8469
2001,9398,10849,8777,8936,8150,8741,9045,11386,-,9752,8224,8461,8483,8515,8273,8777,8991,9076
2002,10036,11741,9446,9432,8787,9198,9669,12275,-,10341,8778,8898,9054,8875,8813,9332,9477,9696
2003,10650,12707,9944,9776,9394,9872,10531,13111,-,10838,9299,9314,9571,9526,9265,9669,9988,10006
2004,11418,13552,10592,10399,10188,10492,11166,14106,-,11559,10071,10094,10364,10268,10157,10523,10755,10613
2005,11949,14154,11203,11019,10679,11170,11753,14927,-,11911,10496,10728,10757,10846,10765,11191,11214,11129
2006,12526,14749,11873,11590,11243,11801,12480,15507,-,12461,11010,11278,11405,11395,11360,11644,11726,11691
2007,13219,15936,12652,12061,11803,12648,13189,16623,-,13066,11487,11731,11766,11826,11846,11938,12195,12087
2008,14182,17156,13686,12946,12720,13604,14104,17751,-,13975,12350,12541,12521,12673,12507,12759,13168,12868
2009,14596,17528,14149,13393,13262,14125,14761,18357,-,14155,12943,13092,13122,13299,13147,13221,13556,13460
2010,15350,18699,14904,13978,13961,14689,15443,19095,-,14890,13332,13693,13716,13902,13706,13892,14106,14072
2011,16074,19789,15823,14637,14635,15207,16213,20139,-,15593,13775,14163,14051,14542,14096,14323,14679,14869
2012,16683,20402,16406,15196,15372,16037,16758,20535,-,16260,14373,14775,14698,14945,14699,15013,15175,15453
2013,17511,21278,17116,16032,16080,16868,17622,21555,18406,17157,15162,15577,15800,15729,15275,15733,15891,16127
2014,18245,21946,17835,16885,16825,17560,18387,22106,24751,17950,16005,16048,16447,16447,15940,16440,16662,16739
2015,19288,22822,18609,17939,17960,18632,19568,22904,23323,19096,17113,17470,17704,17500,17211,17424,17690,17959
2016,19714,23375,18637,18468,18611,18837,19917,22883,22605,19660,17644,17894,17842,17670,17863,17628,18181,18295
2017,20309,23976,19161,18955,19297,19483,20619,22973,22678,20414,18305,18634,18332,18298,18433,18106,18530,18731
2018,21288,25053,20022,19891,20522,20675,21756,23252,22790,21488,19285,19734,19292,19302,19384,18856,19217,19402
2019,22289,26229,21096,20760,21517,21759,22978,24079,23515,22552,20221,20770,20125,20271,20355,19655,19860,19979
2020,23042,26428,21715,21581,22338,22766,23916,24671,24369,23379,21294,21801,21308,21444,21395,20631,20622,20835
2021,23726,27119,22338,22197,23053,23649,24774,25672,25346,23962,22104,22873,22047,22029,22270,21251,21262,21396
2022,24971,28187,23730,23425,24387,25203,26158,27079,25854,25248,23029,24181,23176,23633,23748,22426,22447,22481
2023,25536,29372,24026,23760,24665,25378,26493,28102,25995,25696,23326,24667,23647,24157,24604,22921,22769,22893